.App {
  text-align: center;
}

.pic{
  padding-left: 7%;
  position: relative;
  width: 270px;
  height: 200px
  }

  .name1{
     padding-left: 20%;
  }

body{
  background: url('https://hdqwalls.com/download/avengers-infinity-war-2018-all-characters-poster-1s-3840x2400.jpg');
  background-size: cover;
}

.input{
  
  width: 10rem;
}

.charcards{
  transform: translateY(20%);
  width: 20rem;
  position: relative;
  background: #2196f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left top, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: inline-block;
padding: 50px;
margin: 2rem;
border-width: 2rem;
box-shadow: 5rem;
transition: 1.5s;
margin-left: 15%;
}

.charcards:hover{
  transform: rotateY(180deg);
}


.input2{
  width: 10rem;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background: -webkit-linear-gradient(to left top, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
